.section {
    text-align: left;
    padding-right: 20px;
    overflow-y: auto;
}

.heading {
    font-size: 42px;
    margin-top: 10px;
   
}



.section-heading::after {
    display: inline-block;
    content: "";
    border-top: 1px solid black;
    width: 11rem;
    /* margin-top: 0px; */
    margin-bottom: 5px;
    transform: translateY(-1rem);
}